
<article class="post">
    <header>
        <div class="post-date">
            <span class="glyphicon glyphicon-calendar"></span>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
        </div>
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
    </header>
    <div class="post-content">
        {{ .Summary }}
    </div>
    <footer class="readon">
        <a href="{{ .Permalink }}" class="btn btn-default">
            READ ON
        </a>
    </footer>
</article>
<hr>
